@using LoginComponent

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">


        <div class="top-row px-4">
            <Login/>
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/register">Not registered?</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>