@page "/"

<h1>Hello, Jakob!</h1>

<p>Welcome to Assigment no.1 made by Adam Arasimowicz and Dan Pintea.</p>
<p>Here are some Gen Z memes we picked for you to have fun while reviewing our site.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Oq2eCdH8Fy0" title="Snotty boy Glow up Meme" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NQ5hL-VAWTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Explanation what is sigma grindset can be found <a href="https://www.youtube.com/watch?v=4PHzsRX-v4E" target="_blank">here</a></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jBwNBFlaQOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Explanation: The upper videos are old funny polish videos showing people doing funny stuff like climbing on the internet cable or a car customized that it drives backwards, thats why the trollface is laughing. But knowing the history of poland, which is actually quite depressing, trollface on the bottom is quite miserable.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/u8gQeFYlTqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>The guy on the bottom is trolling the blue-hair girl by saying the old:"Who..? *waits for her response to trick her* cares. There is a quite funny <a href="https://tenor.com/view/dazedwoozy-who-cares-whocares-gif-21686690" target="_blank">gif</a> to send to your friends when you dont care what they are elaborating at the moment</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HOfkaYTlsyU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/I1uGKLsMiDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>What the dog doin? Getting a mint lol.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VLKMccJqNE8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>mini mesi</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/o194Tb3rPbU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>If u like history. <a href="https://www.youtube.com/watch?v=8qW0exzQh_Q">Here</a> is an explanation of the template of this particular meme.</p>
